html {
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "philosopher", serif;
  color: #443322;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

p {
  padding-left: 20px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #443322;
}

a:hover {
  background-color: rgba(14, 102, 84, 0.4);
  padding: 0.2rem;
  color:white;
  border-radius: 4px;
}

span {
  color: red;
  font-weight: bold;
}

/* トップイメージ */
.top__box {
  width: 100%;
  height: 270px;
  margin: auto;
  background-color: rgb(127, 246, 255,0.3);
  border-radius: 8px;
  color:#443322;
  text-align: center;
  opacity: 0.8;
}

.top__box h1 {
  color: red;
  padding: 1rem 0 1rem;
}

.top__box h2 {
  font-size: 1.2rem;
  line-height: 2.3rem;
}

/* ヘッダーメニュー */
.nav__title {
  margin-right:5rem;
  margin-left:2.5rem;
  font-size:2rem;
}
         
header ul{
  width: 100%;
  margin-top:0rem;
  margin-bottom:2rem;
  background-color: rgba(127, 255, 229, 0.5);
  border-radius: 8px;
}

header li {
  height:2.4rem;
  margin-right: 1.5rem;
  line-height: 2.4rem;
  font-size: 1rem;
}

/* パーソナル情報 */
.personal-info__mainbox {
  display: flex;
  justify-content: center;
  margin-bottom:2rem;
}

.person__box {
  margin-right: 3rem;
}

.personal-info__mainbox img{
  border-radius: 8px;
}

.snslink__box{
  margin-top:0.5rem;
  margin-left:6.3rem;
}

/* 経歴 */
.personal-info__subbox {
  margin-bottom:2rem;
  padding-left: 6rem;
}
.personal-info__subbox h3 {
  margin-bottom:0rem;
}

.personal-info__subbox p {
  margin-top:0.1rem;
}

.company-name{
  margin-bottom:-10px;
  font-weight: bold;
}

.now {
  width:52.5rem;
  margin-left: 1.8rem;
  font-weight: bold;
  border-bottom:double;
}

.vision {
  margin-left: 1.5rem;
  font-weight: bold;
}

/* ポートフォリオ */
.portfolio-top{
  width: 100%;
  font-size: 32px;
  opacity: 0.5;
  text-align: center;
}

.portfolio-oddbox {
  display: flex;
  margin-left: 100px;
  margin-bottom:40px;
 }

.portfolio-evenbox {
  display: flex;
  margin-left: 100px;
  margin-bottom:40px;
  background-color:rgb(172, 167, 167,0.3);
 }

 .myhome-img {
   margin-left: 40px;
   border-radius: 8px;
 }

 footer {
 text-align: center;
 }

 