html {
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "philosopher", serif;
  color: #443322;
}

.top-message-box{
  width: 100%;
  height: 450px;
  margin: auto;
  padding: 20px;
  background-color: rgb(127, 246, 255,0.5);
  border-radius: 8px;
  color:#443322;
  text-align: center;
  opacity: 0.8;
}

.appeal-title{
  color: red;
}

.appeal-content{
  font-size: 20px;
  line-height: 50px;
}

ul{
  display: flex;
  list-style: none;
}

.nav-ul{
  width: 100%;
  margin-top: 0;
  margin-bottom: 80px;
  background-color: rgba(127, 255, 229, 0.5);
  border-radius: 8px;
  opacity: 0.8;
}

.nav-title {
  margin-right: 100px;
  margin-left: 40px;
  font-size: 32px;
}

li{
  margin-right: 60px;
  height:40px;
  line-height: 40px;
  font-size: 18px;
  list-style: none;
}

a{
  text-decoration: none;
  color: #443322;
}

h2 {
  margin-top: 0;
}

p {
  padding-left: 20px;
}

.personalinfo-mainbox {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.person-box {
  margin-right: 60px;
}

.hosoi-img{
  border-radius: 8px;
}

.snslink-box{
  margin-top: 10px;
  margin-left: 100px;
}

.personalinfo-subbox {
  margin-bottom: 40px;
  padding-left: 100px;
}

.companyname{
  margin-bottom:-10px;
  font-weight: bold;
}

span{
  color: red;
  font-weight: bold;
}

.now{
  width: 855px;
  margin-left: 30px;
  color: red;
  font-weight: bold;
  border-bottom: red double;
}

.portfolio-top{
  width: 100%;
  font-size: 32px;
  opacity: 0.5;
  text-align: center;
}

.portfolio-oddbox {
  display: flex;
  margin-left: 100px;
  margin-bottom:40px;
 }

.portfolio-evenbox {
  display: flex;
  margin-left: 100px;
  margin-bottom:40px;
  background-color:rgb(172, 167, 167,0.3);
 }

 .myhome-img {
   margin-left: 40px;
   border-radius: 8px;
 }

 footer {
 text-align: center;
 }

 