html {
  font-size: 100%;
}

body {
  height: 100%;
  font-family: "philosopher", serif;
  color: #443322;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2,h3 {
  margin-bottom: 0.1rem;
}

p {
  padding-left: 20px;
  margin-top: 0.1rem;
}

li {
  list-style: none;
}

a {
  color: #443322;
}

a:hover {
  background-color: rgba(14, 102, 84, 0.4);
  padding: 0.2rem;
  color:white;
  border-radius: 4px;
}

span {
  color: red;
  font-weight: bold;
}

img {
  border-radius: 4px;
}

/* トップイメージ */
.top__box {
  width: 100%;
  height: 280px;
  margin: auto;
  background-color: rgb(127, 246, 255,0.2);
  border-radius: 8px;
  text-align: center;
  opacity: 0.8;
}

.top__box h1 {
  color: red;
  padding: 1rem 0 1rem;
  font-size:1.8rem;
  display: none;
}

.top__box h2 {
  margin-top: 0;
  font-size:1.2rem;
  line-height: 2.3rem;
}

/* ヘッダーメニュー */
.nav__title {
  margin-right:5.5rem;
  margin-left:2.5rem;
  font-size:2rem;
}
         
header ul{
  width: 100%;
  margin-top:0rem;
  background-color: rgba(127, 255, 229, 0.5);
  border-radius: 8px;
  display: flex;
}

header li {
  height:2.4rem;
  margin-right: 2.2em;
  line-height: 2.4rem;
  font-size: 1rem;
}

header a {
  text-decoration: none;
}

/* パーソナル情報 */
.personal-info__mainbox {
  display: flex;
  justify-content: center;
  margin-bottom:3rem;
}

.person__box {
  margin-right: 3rem;
}

#hosoi-picture {
  margin-top: 4rem;
}

.personal-info p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.snslink__box{
  margin-top:1.5rem;
  margin-left:1rem;
}

.snslink__box a{
  text-decoration: none;
}

/* 経歴 */
.personal-info__subbox {
  margin-bottom:2rem;
  padding-left: 6rem;
}

.personal-info__subbox p {
  margin-top:0.1rem;
}

.company-name{
  margin-bottom:-10px;
  font-weight: bold;
}

.now {
  width:52.5rem;
  margin-top: 0;
  margin-left: 1.8rem;
  font-weight: bold;
  border-bottom:double;
}

.study__container {
  background-color: rgb(127, 246, 255,0.2);
  padding-bottom: 0.3rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.study__container p {
  line-height: 1.2rem;
  margin-top: 0.5rem;
}
  
.vision {
  margin:0.5rem 0 5rem 2.1rem;
  font-weight: bold;
  line-height: 1.8rem;
}

/* ポートフォリオ */
.portfolio__top{
  width: 100%;
  margin-top: -2rem;
  margin-bottom:2rem;
  font-size:2rem;
  opacity: 0.4;
  text-align: center;
}

.portfolio__description__box h3 {
  margin-left: 0;
}

.portfolio__description__box h4 {
  margin:0.2rem 0rem 0.2rem 1.4rem;
}

.portfolio__description__box a,.portfolio__evenbox a {
  margin-left: 1.5rem;
  color: rgb(95, 14, 170);
  text-decoration-style: initial;
}

.portfolio__description__box a:hover,.portfolio__evenbox a  {
  background-color:transparent;
}

.portfolio__oddbox {
  margin-left: 5rem;
  margin-bottom:2rem;
 }

.portfolio__evenbox {
  background-color: rgb(127, 246, 255,0.1);
  margin-bottom: 2rem;
  padding:1rem 0 1rem;
  border-radius: 6px;
 }

 .portfolio__evenbox h2,.devlop__container,.portfolio__evenbox a{
   margin-left:5rem;
 }

 .portfolio__evenbox i {
  margin-left: 1rem;
 }

.home__container,.devlop__container,.portfolio__oddbox {
  display: flex;
}
        
.portfolio__img__box img {
  border: 1px solid;
 }

.MJ__img,.chat__img {
  margin:3rem 2rem 0rem;
}

.room__img1 {
   margin:1rem 1rem 1rem 5.5rem;
 }

.room__img2 {
   margin:1rem 0.5rem 1rem 0.2rem;
 }

 .orche__img {
   margin: 1rem 1rem 0 0;
 }

 footer {
 margin-top: -1rem;
 text-align: center;
 }

.ham__wrapper {
 display: none;
}

#to-top {
 width: 150px;
 margin: 0 auto;
 margin-bottom: 1rem;
 text-align: center;
}

#to-top:hover {
 background-color: rgba(14, 102, 84, 0.4);
 padding: 0.2rem;
 color:white;
 border-radius: 4px;
}

 @media (max-width:800px) {
  
 h2 {
 font-size: 1rem;
 }

 h3 {
 font-size: 0.9rem;
 }

 h4 {
 font-size: 0.8rem;
 }

 p {
 font-size: 0.7rem;
 }

 img {
 transform: scale(0.6,0.6);
 display: none;
 }

 #hosoi-picture {
   margin-right: 0;
 }

.top__box {
 height: 180px;
 width: 100%;
}
  
.top__box h1 {
 font-size: 1.2rem;
}
  
.top__box h2 {
 font-size: 0.7rem;
 line-height:1.1rem;
  }

.top__box span {
 font-size:0.6rem;
}
  
header {
  display: none;
}

/* ハンバーガーメニュー */
.ham__wrapper {
 display:block;
}

.ham-menu_box {
 background-color: rgba(127, 255, 229);
 width:100%;
 margin-right: 0rem;
 position: relative;
}

.ham-menu_box i {
 float: right;
 margin-top: 0.2rem;
 margin-right: 0.4rem;
}

.ham-menu_title{
 padding-left: 1rem;
 font-size: 0.8rem;
 font-weight: normal;
}

#ham-menu {
 background-color: rgba(127, 255, 229);
 padding-left:5%;
 margin: 0;
}

#ham-menu a { 
  font-size: 0.7rem;
}

.hidden {
  display: none;
}

.snslink__box {
  width: 200px;
  margin-left: 1rem;
  margin-right:0.1rem;
}

.person__box {
  margin-right: 0;
  height: 100px;
}

.personal-info h2 {
  margin-top: 0;
  font-size: 1rem;
}

.personal-info span {
  margin-top: 0;
  font-size: 0.7rem;
}

.personal-info__subbox {
  padding-left: 0.1rem;
}

.now {
  font-size: 0.7rem;
  width:28rem;
  border: none;

}

/* ポートフォリオ */
.portfolio__oddbox {
  margin-left:2rem;
}

.devlop__container {
  margin-left: 1rem;
}


.portfolio__evenbox h2,.portfolio__evenbox a {
 margin-left:1rem;
}


.portfolio__description__box {
  margin-left: 1rem;
}
}

@media (min-width:801px) and (max-width:1100px) {
.top__box {
 height: 250px;
}

.top__box h1 {
 font-size: 1.5rem;
}
     
.top__box h2 {
 font-size: 1rem;
 line-height:2rem;
}
   
.top__box span {
 font-size:1rem;
}
   
 header a {
 font-size :0.8rem;
 margin-right:0.1rem; 
 }

.nav__title {
 margin: 0 3rem 0 0;
 font-size: 1rem;
}

}